<html>

<head>
    <title>vue demo</title>
    <link href="bower_components\bootstrap\dist\css\bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div class="container" style="margin-top: 25px;">
        <div id="app1" class="jumbotron">
            {{ message }}
        </div>

        <div id="app2" class="jumbotron">
            <p v-if="seen">seen me</p>
            <button class="btn btn-primary" v-on:click="hide">click me</button>
        </div>

        <div id="app3" class="jumbotron">
            <ul>
                <li v-for=" todo in todos ">
                    {{todo.text}}
                </li>
            </ul>
        </div>

        <div id="app4" class="jumbotron">
            <p>{{ message }}</p>
            <button class="btn btn-primary" v-on:click="reverseMessage">Reverse Message</button>
        </div>

        <div id="app5" class="jumbotron">
            <input type="text" v-model="message" />
            <p>{{message}}</p>
        </div>

        <div id="app6" class="jumbotron">
            <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
        </div>

        <div id="app7" class="jumbotron">
            <input id="addToDo" v-model="newItem" />
            <button v-on:click="addItem" class="btn btn-primary">Add</button>
            <todo-item v-for="item in todos" v-bind:todo="item"></todo-item>
        </div>

        <div id="customerApp" class="jumbotron">
            <input v-model="searchText" />
            <button v-on:click="searchCustomer">Search Customer</button>
            <div v-if="found">
                <h2>See the customer here:</h2>
                <p><b>Name: </b>{{customer.Name}}</p>
                <p><b>AircraftType: </b>{{customer.AircraftType}}</p>
                <p><b>Role: </b>{{customer.Role}}</p>
                <p><b>SupportDepartment: </b>{{customer.SupportDepartment}}</p>
            </div>
        </div>

        <div id="jiraApp" class="jumbotron">
            <button v-on:click="callJira">Give me an issue</button>
            <div v-if="issue != null">
                <h2>See the Issue information here:</h2>
                <p><b>issueKey: </b>{{issue.key}}</p>
                <p><b>Summary: </b>{{issue.fields.summary}}</p>
                <p><b>IssueType: </b>{{issue.fields.issuetype.name}}</p>
            </div>
        </div>
    </div>

    <script src="bower_components/vue/dist/vue.js"></script>
    <script src="bower_components/vue-resource/dist/vue-resource.js"></script>
    <script src="app.js "></script>

</body>

</html>